@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #800080;
    padding: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #800080;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #FFFFFF;
}

body {
    background-color: #ffc0cb;
    font-family: 'Ubuntu', sans-serif;
}

main {
    text-align: center;
    padding: 10px;
}

main h2 {
    padding: 20px;
}

.contenedor {
    margin-bottom: 30px;
    perspective: 1000px;
}

.contenedor-inicio {
    padding: 40px;
}

#contenedor-derrota {
    padding: 40px;
    display: none;
}

#contenedor-victoria {
    padding: 40px;
    display: none;
}

.contenedor-inicio button{
    padding: 10px;
    border-radius: 5px;
    background-color: #800080;
    color: #FFFFFF;
    border: transparent;
    cursor: pointer;
    font-size: 20px;
}

.contenedor-reinicio {
    display: none;
}

.contenedor-reinicio button{
    padding: 10px;
    border-radius: 5px;
    background-color: #800080;
    color: #FFFFFF;
    border: transparent;
    cursor: pointer;
    font-size: 20px;
}

.contenedor-tiempo {
    padding: 30px;
    font-size: large;
    display: none;
}

.contenedor-ayuda{
    background-color: #f1cad1;
    width: 500px;
    margin: auto;
    border-radius: 5px;
}

.contenedor-ayuda div {
    padding: 10px;
}

.letra{
    background-color: #28282c;
    height: 35px;
    width: 35px;
    margin: 3px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
}

.letra.correcto {
    background-color: #008000;
}

.letra.error {
    background-color: #B4001D;
}

.letra:not(.ocupado):hover{
    cursor: pointer;
    transform: scale(1.20);
}

.leyenda .letra:not(.ocupado):hover{
    cursor: default;
    transform: scale(1);
}

.palabraSecreta{
    text-align: center;
    font-size: 30px;
    height: 40px;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

p.texto {
    margin: 5px 0;
}

p.texto span {
    color: #B4001D;
}

.error-ayuda {
    color: #B4001D;
}

.correcto-ayuda {
    color: #008000;
}